<div class="container">
  <div class="welcome-container-home">
    <h1>Bem-vindo ao Bazar Sol CRM!</h1>
    <p>Estamos entusiasmados em tê-lo aqui. No Bazar Sol, estamos comprometidos em fornecer as melhores ferramentas para gerenciar sua loja de maneira eficiente e eficaz.</p>
    <p>Com o nosso CRM, você pode facilmente acompanhar as vendas, gerenciar o estoque e se envolver com seus clientes. Nossa interface intuitiva garante que você possa navegar pelo sistema de forma tranquila e aproveitar ao máximo nossos recursos.</p>
    <p>Nosso time está dedicado ao seu sucesso. Se você tiver alguma dúvida ou precisar de assistência, nossa equipe de suporte está sempre aqui para ajudar.</p>
    <p>Obrigado por escolher o Bazar Sol CRM. Vamos fazer sua loja prosperar!</p>
  </div>
</div>